services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: economic-server
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    restart: always
    depends_on:
      postgres-dev:
        condition: service_healthy

  postgres-dev:
    image: postgres:16
    container_name: postgres-dev
    restart: unless-stopped
    environment:
      POSTGRES_USER: leodev
      POSTGRES_PASSWORD: leodev-root
      POSTGRES_DB: developmentDB_postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-dev-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U leodev -d developmentDB_postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres-dev-data: