name: CI/CD Economic Control (Self-Hosted)

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    env:
      SERVER_HOST: ${{ secrets.SERVER_HOST }}
      SERVER_PORT: ${{ secrets.SERVER_PORT }}
      DB_DB: ${{ secrets.DB_DB }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_DIALECT: ${{ secrets.DB_DIALECT }}
      SUDO_ROLE: ${{ secrets.SUDO_ROLE }}
      SUDO_USERNAME: ${{ secrets.SUDO_USERNAME }}
      SUDO_PASSWORD: ${{ secrets.SUDO_PASSWORD }}
      SUDO_FIRSTNAME: ${{ secrets.SUDO_FIRSTNAME }}
      SUDO_LASTNAME: ${{ secrets.SUDO_LASTNAME }}
      SUDO_IS_VISIBLE: ${{ secrets.SUDO_IS_VISIBLE }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      REFRESH_SECRET: ${{ secrets.REFRESH_SECRET }}
      ACCESS_TOKEN_EXPIRATION: ${{ secrets.ACCESS_TOKEN_EXPIRATION }}
      REFRESH_TOKEN_EXPIRATION: ${{ secrets.REFRESH_TOKEN_EXPIRATION }}
      NODE_ENV: ${{ secrets.NODE_ENV }}
      CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Build and Deploy
        run: |
          pnpm install --frozen-lockfile
          pnpm build

          docker compose up -d --build --remove-orphans

          docker exec economic-server node dist/seeders/initDatabases.js
          docker image prune -f
