name: CI/CD Economic Control (Self-Hosted)

on:
  push:
    branches: [main]

jobs:
  deploy:
    # Esta es la clave: le dice a GitHub que use TU servidor
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Build and Deploy
        run: |
          pnpm install --frozen-lockfile
          pnpm build

          docker compose up -d --build --remove-orphans

          docker exec economic-server node dist/seeders/initDatabases.js
          docker image prune -f
