name: CI/CD Economic Control

on:
  push:
    branches: [main]

jobs:
  # ETAPA 1: Verificación (CI)
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm build

  # ETAPA 2: Despliegue (CD)
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Debug Secrets
        run: |
          echo "Verificando si los secretos existen..."
          if [ -z "${{ secrets.SERVER_HOST }}" ]; then echo "❌ SERVER_HOST no encontrado"; else echo "✅ SERVER_HOST detectado"; fi
          if [ -z "${{ secrets.SERVER_USER }}" ]; then echo "❌ SERVER_USER no encontrado"; else echo "✅ SERVER_USER detectado"; fi
          if [ -z "${{ secrets.SSH_PRIVATE_KEY }}" ]; then echo "❌ SSH_PRIVATE_KEY no encontrado"; else echo "✅ SSH_PRIVATE_KEY detectado"; fi

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 1721
          script: |
            cd ~/web-apps/economicControl_nv
            git pull origin main
            docker compose up -d --build
            docker exec economic-server node dist/seeders/initDatabases.js
